.App {
  text-align: left;
  margin-left: 10rem;
  margin-top: 2rem;
  margin-right: 16.6rem;
}

ul {
  padding: 20px;
  background-color: burlywood;
  border-radius: 1rem;
}

li {
  text-decoration: none;
  display: inline-block;
  margin: 0 10px 0 0;
}

li:first-child {
  background-color:rgba(211, 149, 67, 0.74);
  padding: 10px;
  border-radius: 1rem;
}

.deg {
  text-align: center;
  font-size:x-large;
}

span {
  padding: 0 3px 0 3px;
  font-size:x-large;
}

.nightDeg {
  color: grey;
}

.selectMenu {
  float: right;
  margin-right: 20px;
  font-size: large;
}

.date {
  text-align: center;
}

h1 {
  text-align: center;
}

select {
  width: 200px;
  height: 35px;
}

hr {
  height: 1px;
  background-color: black;
  border: none;
}
